JWT_SECRET=change-me
POSTGRES_DB=nest_workshop
POSTGRES_USER=nest_user
POSTGRES_PASSWORD=nest_password
DB_HOST=localhost
DB_PORT=5432
DB_USER=nest_user
DB_PASSWORD=nest_password
DB_NAME=nest_workshop
PORT=3000
